:root {
    --body-background: #0079FF;
    --background:#30A2FF;
    --white: #C9EEFF;
    --black: rgb(78, 77, 77);
    --nav: #40128B;
}

body {
    background-color: var(--body-background);
}


.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--nav);
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 1px 23px 6px black;
    position: sticky;
}

.logout{
    background-color: #014754;
    font-size: 1.6rem;
    width: 100px;
    margin: 20px 15px 0 0;
    padding: 2px 0 8px 0;
    cursor: pointer;
    border: 1px solid white;
}
.logout:hover{
    transition: 0.5s;
    color: black;
    background-color: var(--white);
    box-shadow: 0 0 0 2px var(--white);
    border-color: black;
}

.login-box{
    margin-top: 20px;
}

.login-box .user-box input {
    font-size: 12px !important;
}

.login-box .user-box label {
    font-size: 16px !important;
}

a{
    text-decoration: none;
    color: black;
}




@media screen and (max-width: 650px) {
    .login-box{
        margin-top: 80px;
    }
    .navbar{
        font-size: .8rem;
    }

}